 
<h1>Listing books</h1>
 
<table>
  <thead>
    <tr>
      <th>Isbn</th>
      <th>Nombrelibro</th>
      <th>Autor</th>
      <th>Editorial</th>
      <th>Precio</th>
      <th>Category</th>
      <th>Provider</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.isbn %></td>
        <td><%= book.nombrelibro %></td>
        <td><%= book.autor %></td>
        <td><%= book.editorial %></td>
        <td><%= book.precio %></td>
        <td><%= book.category.nombre%></td>
        <td><%= book.provider.razonsocial %></td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><% if can? :destroy, book %>
   <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
   book_path(book),
   :method => :delete,
   :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sur   e?')) },
   :class => 'btn btn-mini btn-danger' %>


 <% end %>
</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
