<p id="notice"><%= notice %></p>

<p>
  <strong>Book:</strong>
  <%= @detailsale.book %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @detailsale.cantidad %>
</p>

<p>
  <strong>Sale:</strong>
  <%= @detailsale.sale %>
</p>

<%= link_to 'Edit', edit_detailsale_path(@detailsale) %> |
<%= link_to 'Back', detailsales_path %>
