  <h1>Listing employees</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Usuario</th>
      <th>Rfc</th>
      <th>Direccion</th>
      <th>Cargo</th>
      <th>Telefono</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.nombre %></td>
        <% if !employee.user.nil? %>
          <td><%= employee.user.name %></td>
        <% else %>
          <td><p>Sin usuario</p></td>
        <% end %>
        <td><%= employee.rfc %></td>
        <td><%= employee.direccion %></td>
        <td><%= employee.cargo %></td>
        <td><%= employee.telefono %></td>
        <td><%= link_to 'Ver', employee %></td>
        <td><%= link_to 'Editar', edit_employee_path(employee) %></td>
        <td><%= link_to 'Eliminar', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo empleado', new_employee_path %>
