<p id="notice"><%= notice %></p>

<p>
  <strong>Razonsocial:</strong>
  <%= @provider.razonsocial %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @provider.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @provider.telefono %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @provider.correo %>
</p>

<%= link_to 'Edit', edit_provider_path(@provider) %> |
<%= link_to 'Back', providers_path %>
