<h1>Lista de ventas</h1>

<table>
  <thead>
    <tr>
      <th>Fechatransaccion</th>
      <th>Total</th>
      <th>Descuento</th>
      <th>Employee</th>
      <th>Customer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.fechatransaccion %></td>
        <td><%= sale.total %></td>
        <td><%= sale.descuento %></td>
         <% if !sale.employee.nil? %>
        <td><%= sale.employee.nombre %></td>
         <% else %>
          <td><p>Sin usuario</p></td>
        <% end %>
        <td><%= sale.customer.nombre %></td>
        <td><%= link_to 'Ver', sale %></td>
      
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sale', new_sale_path %>
